SAPAutoLogon/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://c0040597.itcs.hp.com:9001/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://c0040597.itcs.hp.com:9001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://c0040597.itcs.hp.com:9001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAPLogonService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IAccountService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountUsers" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UserInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsBoxExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsBoxExisted" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsBoxExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsBoxExistedResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_BoxInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:BoxInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountService_BoxInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BoxInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AccountInfoByName_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountInfoByName" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AccountInfoByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountInfoByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLog" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLogResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_MyAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:MyAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountService_MyAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccess" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FailLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FailLogin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_FailLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FailLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/RegisterUser" message="tns:IAccountService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/RegisterUserResponse" message="tns:IAccountService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccountUsers" message="tns:IAccountService_GetAccountUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountUsersResponse" message="tns:IAccountService_GetAccountUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UserInfo" message="tns:IAccountService_UserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UserInfoResponse" message="tns:IAccountService_UserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsBoxExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/IsBoxExisted" message="tns:IAccountService_IsBoxExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/IsBoxExistedResponse" message="tns:IAccountService_IsBoxExisted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BoxInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/BoxInfo" message="tns:IAccountService_BoxInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/BoxInfoResponse" message="tns:IAccountService_BoxInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountInfoByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AccountInfoByName" message="tns:IAccountService_AccountInfoByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AccountInfoByNameResponse" message="tns:IAccountService_AccountInfoByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AccountInfo" message="tns:IAccountService_AccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AccountInfoResponse" message="tns:IAccountService_AccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddLog" message="tns:IAccountService_AddLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddLogResponse" message="tns:IAccountService_AddLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/MyAccounts" message="tns:IAccountService_MyAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/MyAccountsResponse" message="tns:IAccountService_MyAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateAccount" message="tns:IAccountService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateAccountResponse" message="tns:IAccountService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccess" message="tns:IAccountService_GetAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccessResponse" message="tns:IAccountService_GetAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FailLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/FailLogin" message="tns:IAccountService_FailLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/FailLoginResponse" message="tns:IAccountService_FailLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountService" type="tns:IAccountService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountUsers">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/GetAccountUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/UserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBoxExisted">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/IsBoxExisted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BoxInfo">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/BoxInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountInfoByName">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/AccountInfoByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountInfo">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/AccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLog">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/AddLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyAccounts">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/MyAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccess">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/GetAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FailLogin">
      <soap12:operation soapAction="http://tempuri.org/IAccountService/FailLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="NetTcpBinding_IAccountService" binding="tns:NetTcpBinding_IAccountService">
      <soap12:address location="net.tcp://c0040597.itcs.hp.com:9002/AccountService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://c0040597.itcs.hp.com:9002/AccountService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/C0040597.Extranet.hp.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>