SAPLogonClient/Service References/AccountService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAPLogonService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAPLogonService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctUsers" nillable="true" type="tns:ArrayOfAccountUser" />
      <xs:element minOccurs="0" name="BusinessUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAccountUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountUser" nillable="true" type="tns:AccountUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountUser" nillable="true" type="tns:ArrayOfAccountUser" />
  <xs:complexType name="AccountUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AcctId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrimary" type="xs:boolean" />
      <xs:element minOccurs="0" name="Uid" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountUser" nillable="true" type="tns:AccountUser" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctUsers" nillable="true" type="tns:ArrayOfAccountUser" />
      <xs:element minOccurs="0" name="BoxId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWebLogin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfSAPBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPBox" nillable="true" type="tns:SAPBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSAPBox" nillable="true" type="tns:ArrayOfSAPBox" />
  <xs:complexType name="SAPBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPBox" nillable="true" type="tns:SAPBox" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
</xs:schema>